.navBar,
.header-container{
  padding: 0;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
}

.header-container .navbar-brand{
  padding: 40px 0;
  margin: 0;
  display: block;
  font-size: 2rem;
}

.navBar{
  padding: 0;
  background-color: #35373e;
  -webkit-box-shadow: 10px 0px 6px -6px rgba(101,101,101,0.88); 
box-shadow: 10px 0px 6px -6px rgba(0,0,0,0.08);
}

.header-nav-collapse{
  justify-content: space-between;
 
}

.header-nav-collapse .navbar-nav{
  width: 100%;
  text-align: center;
}

.nav-link{
  position: relative;
  width: fit-content;
  font-size: 1.2rem;
  transition: all 0.3s ease;

}

.nav-link:hover{
  transform: translateX(5px);
}

.nav-link.active{
	color: #5fc9c7!important;
  font-weight: bold;
}

.options-nav{
  row-gap: 20px;
}

.actions-nav{
  padding-bottom: 40px;
}